[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=UPNP MediaBrowser
Comment=Browse your UPNP neighbourhood
Exec=UPNPMediaBrowser
Icon=application-default-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
